*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  width: 100%;
  display: flex;

}

.header {
  background: lightblue;
  padding: 40px 20px;
}

.section1 {
  background:cadetblue;
  width: 50%;
  height: 100vh;


}

.section2 {
  background: orange;
  width: 50%;
  height: 100vh;
 

}
.footer{
  background: darkgrey;
  padding: 40px 20px;
}